{% if app.user %}
    <div class="dropdown">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
           data-bs-toggle="dropdown" aria-expanded="false">
            <img alt="{{ app.user.displayName }}" src="{{ app.user.avatarUrl }}" width="32" height="32"
                 class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" data-popper-placement="bottom-start">
            <li><a class="dropdown-item" href="{{ url('sfs_user_change_password') }}">Change password</a></li>
            <li><a class="dropdown-item" href="{{ url('sfs_user_preferences') }}">Settings</a></li>
            {% if is_granted('ROLE_ADMIN') %}
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{{ url('admin_dashboard') }}" target="_blank">Admin panel</a></li>
            {% endif %}
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ url('sfs_user_logout') }}">Sign out</a></li>
        </ul>
    </div>
{% else %}
    <a href="{{ path('sfs_user_login') }}" class="btn btn-primary">Login</a>
    <a href="{{ path('sfs_user_register') }}" class="btn btn-primary">Register</a>
{% endif %}